temp.md
test.rb
.DS_Store
._.DS_Store
.bundle
db/*.sqlite3
db/data.yml
db/*.sqlite3.*
log/*.log
tmp/
*.pyc
*.swp
*.swo
*.swn
*.tmp
*.bak
doc/~$*
doc/Thumbs.db
config/database.yml
config/secrets.yml
REVISION
log
*.log
public/assets
*.sql
lib/radius/auth.py
config/secrets.yml
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
public/files
.idea/*.xml
config/log4r.yml
*.zip
nohup.out
config/thin.yml
public/deploy/
*~
.swm
dump.rdb
.idea/
public/system
public/uploads/*

